<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apikey" value=""/>
    <add key="apiurlstem" value ="https://api.challonge.com/v1/"/>
    <add key="subdomain" value="tigergammon"/>
    <add key="tg_url" value="ws://tigergammon.com:8080/ws"/>
    <add key="tg_username" value=""/>
    <add key="tg_password" value=""/>
  </appSettings>
</configuration>
